<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Головна сторінка</title>
</head>
<body>
    <a href="{% url 'create_question' %}">Створіть питання</a>
    <h1>Існуючі питання:</h1>
    {% for question in questions %}
        <p><a href="{% url 'question' question_pk=question.pk %}">{{question.title}}</a></p>
    {% endfor %}
</body>
</html>